OAN_EMBEDDING_HOST=127.0.0.1
OAN_EMBEDDING_PORT=18080
OAN_EMBEDDING_PROVIDER=transformers
OAN_EMBEDDING_MODEL=gte-multilingual-base
OAN_EMBEDDING_MODEL_ID=Alibaba-NLP/gte-multilingual-base
OAN_EMBEDDING_VERSION=gte-multilingual-base
OAN_EMBEDDING_DIMENSION=768
OAN_EMBEDDING_DTYPE=q8
OAN_EMBEDDING_MAX_INPUT_CHARS=6000
OAN_EMBEDDING_BATCH_SIZE=16
OAN_EMBEDDING_CACHE_DIR=.cache/transformers
